 
body {
    font-family: "Courier New", monospace;
    background: linear-gradient(135deg, #fce7f3, #ede9fe);
    background-image: url("https://i.imgur.com/4QfKjvA.png"); 
    background-size: 300px;
    background-repeat: repeat;
    opacity: 0.98;
    color: #4b4453;
}


.container {
    width: 40%;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    margin-top: 40px;
    box-shadow: 0 4px 15px rgba(180, 100, 200, 0.15);
    backdrop-filter: blur(6px);
    text-align: center;
}


.top-bar {
    display: flex;
    justify-content: space-between;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #e9d5ff;
    background: #faf5ff;
    color: #4b4453;
}

.tarefa {
    background: #fdf2f8;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-left: 4px solid #d8b4fe;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(200, 130, 220, 0.12);
}


.foto {
    width: 80px;
    border-radius: 6px;
}

.filtros {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}


.filtro-btn {
    background: #c4b5fd;
    color: #4b4453;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    transition: 0.2s;
    border: 1px solid #ddd6fe;
}

.filtro-btn:hover {
    background: #e9d5ff;
    transform: scale(1.05);
}

.filtro-btn.ativo {
    background: #d946ef;
    color: white;
    border-color: #c026d3;
}


.acoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.acoes a {
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: 0.2s;
}

.acoes .concluir {
    background: #c084fc;
    color: white;
}
.acoes .concluir:hover {
    background: #a855f7;
    transform: scale(1.05);
}

.acoes .editar {
    background: #f472b6;
    color: white;
}
.acoes .editar:hover {
    background: #ec4899;
    transform: scale(1.05);
}

.acoes .remover {
    background: #fb7185;
    color: white;
}
.acoes .remover:hover {
    background: #f43f5e;
    transform: scale(1.05);
}


.concluido {
    background: #c4b5fd;
    color: #4b4453;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 13px;
}

.btn {
    background: #c4b5fd;
    color: #4b4453;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    transition: 0.2s;
    border: 1px solid #ddd6fe;
}

.btn:hover {
    background: #e9d5ff;
    transform: scale(1.05);
}
